<section id="aboutme">
  <div class="container">
    <div class='heading'>
      <span class="heading">About Me</span>
    </div>
    <blockquote class="blockquote text-center" [@scrollAnimation]="state">
      <p class="mb-0 mx-3">I come from Egypt and I live in Hamburg, Germany since september 2016. It was hard at the
        beginning to start my web development career in Germany due to the language,
        but here I'm back again with a fresh start and ready for a new challenge in my life and my German now is so
        much better than before.</p>
      <p class="mb-0 mx-3">I've graduated from the Faculty of Computers and Information in Assiut University in Egypt
        at 2015. I got the Bachelor's Degree of Information Systems with Good grade.
        after that I started my career as Freelancer and I've done some projects to my friends. In 2016 I made a
        system to a construction company,
        I've developed this system with <a href="https://laravel.com">Laravel</a> "A&nbsp;Great MVC PHP Framework" ,
        this was for back-end.
        In front-end I've worked with HTML 5, CSS, Javascript, <a href="http://jquery.com">jQuery</a> and <a href="http://getbootstrap.com/docs/4.1/getting-started/introduction/">Boootstrap
          4</a>.
        This System handles all the procedures of constructing Buildings by this company. it was full responsive from
        design.</p>
      <p class="mb-0 mx-3">At April 2018 I started a PHP Web Development Course AKA "Weiterbildung In German" in <a
          href="https://www.cbw-weiterbildung.de">CBW</a>.</p>
      <p class="mb-0 mx-3">At end of May 2018, I started building a Dentist Clinic Information System for a Dentist
        in Egypt, it handles everything from creating Patients, Diagnosis, Appointments and Payments.
        Skills Applied: <a href="https://laravel.com">Laravel</a>, HTML 5, CSS, Javascript, <a href="http://jquery.com">jQuery</a>,
        AJAX and <a href="http://getbootstrap.com/docs/4.1/getting-started/introduction/">Boootstrap 4</a>.</p>
      <p class="mb-0">“ I'm a web developer, who finds his own passion in coding new softwares and learning new
        techs. ”</p>
      <footer class="blockquote-footer">Ahmed Abdelgawad <cite title="Source Title">Software Developer</cite></footer>
      <p class="text-center"><a href="certification/ahmed_abdelgawad_lebenslauf.php" class="btn btn-green">Download
          My CV <span class="glyphicon glyphicon-download"></span></a></p>
    </blockquote>
  </div>
</section>