<div>
  <a href="{{work?.projectLink}}">
    <div class="mywork" alt="" 
      [style.backgroundImage]="'url(../../../'+work?.imgSrc+')'"
      [style.backgroundSize]="work?.backgroundSize != null ? work?.backgroundSize : ''"
      [style.backgroundPosition]="work?.backgroundPosition != null ? work?.backgroundPosition : ''"
      [style.backgroundColor]="work?.backgroundColor != null ? work?.backgroundColor : ''"></div>
  </a>
  <p class="mywork text-center">{{work?.projectName}} <span class="badge badge-light">{{work?.projectFilter|titlecase}}</span></p>
  <p style="color:white" class="text-center" *ngIf="work.tags.length">Skills Applied 
    <span class="badge badge-light" *ngFor="let tag of work.tags">{{tag}}</span>  
  </p>
</div>
