.frame-container{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #00000096;
    z-index: 10000;
}
.frame-content{
    width: 80%;
    margin: 40px auto;
    border-radius: 10px;
    padding: 10px;
    background: #cccccc;
}
iframe{
    border: 0 !important;
    width: 100%;
    min-height: 90vh;
    text-align: center;
}